

body{
    font-family:arial;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    line-height: 34px;
}
header, nav, section, aside, footer{
    background: #ebebeb;
    display: block;
    padding: 10px;
    Margin: 10px;
    text-align: center;
}
article{
    color:#ebebeb;
    background:#777;
    padding: 10px;

}

section{
    width:495px;
    height: 265px;
    overflow: hidden;
    float:left;
    display:block;

}
aside{
    width:40%;
    display:block;
    height:267px;
    float: right;
    overflow:hidden;
}

h1, p{
    width:90%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ebebeb;
    color:#777;
}
.clear{
    clear: both;
  }
  